<style type="text/css">
  body{ font:67.5% Helvetica, Arial, sans-serif; background:#3c9dd0; padding:0; margin:0; }
  h1{ text-align:center; color:#fff; margin:50px 0 0; font-size:4em; }
  h2{ text-align:center; color:#ddd; margin:0; font-size:14px; letter-spacing:5px; font-weight:normal; }
  .main{ background:#e2fa00; }
  .main > .header{ 
    background:#0aa; padding:5px; border-bottom:1px solid #fff;
  }
  .main h1{ text-align:left; font-size:8em;  margin:0;  }
  .main h2{ text-align:right; letter-spacing:0; color:#e2fa00; }
  body.main ul{}
  body.main ul li{ font-size:2em; list-style:none; display:inline; margin:0; padding:0; }
  body.main ul li a{ padding:0 10px; font-size:1.5em; }
  .main ul .filler{ font-size:5em; padding:0 25px; }
</style>