<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Justin &rarr; {{page.title}}</title>
    {%include styles.html%}
    <style type="text/css">
    body > a{ display:block; text-align:left; font-size:20px; background:#fff; text-decoration:none; padding:2px 5px; }
    </style>
    <link rel="alternate" type="application/atom+xml" title="Justin Perkins - Atom" href="/atom.xml" />
  </head>
  <body>
    <a href="/">&larr; back</a>
    {{content}}
    {%include analytics.html%}
  </body>
</html>